body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Adjust as needed */
    /*background-color: #f0f0f0; /* Background color for the entire page */
    background-image: url('../bg1.jpg'); /* Background image for invitation */
    background-size: cover; /* Cover the entire container */
}

.gallery, .invitation {
    width: 100%; /* Occupy full width */
    max-width: 800px; /* Maximum width */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.gallery {
    background-color: #f0f8ff; /* Light background for gallery */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin-bottom: 5px; /* Spacing between gallery and invitation */
    width: 50%; /* Set width to 25% */
    overflow-y: auto; /* Enable vertical scrolling if necessary */
    padding: 20px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.gallery img {
    max-width: 100%; /* Resize images to fill the gallery container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove image spacing */
    margin-bottom: 10px; /* Spacing between gallery images */
}

.invitation {
    background-color: #fefbd8; /* Soft yellow background for invitation */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding and border in width calculation */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    font-size: 15px; /* Increase font size */
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    padding: 12px;
    box-sizing: border-box;
    background-color: #fefbd8; /* Soft yellow background */
    border-radius: 10px; /* Add border radius */
    border: 2px solid #ccc; /* Add border */
    font-size: 16px; /* Increase font size */
    text-align: center; /* Center text horizontally */
        background-image: url('../bg.jpg'); /* Background image for invitation */
    background-size: cover; /* Cover the entire container */
}

.balloon {
    width: 50px;
    height: 65px;
    border-radius: 50%;
    position: fixed;
    bottom: -75px;
    animation: float 15s linear infinite;
}

@keyframes float {
    to { transform: translateY(-100vh) translateX(20vw); }
}

.balloon::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 1px;
    height: 50px;
    background: #666;
    transform: translateX(-50%);
}
.balloon:nth-child(odd) { animation-duration: 3s; }
.balloon:nth-child(even) { animation-duration: 5s; }