body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Change to column layout for mobile */
    height: 100%;
    background-image: url('../bg.jpg'); /* Background image for container */
    background-size: cover; /* Cover the entire container */
}

.gallery {
    width: 100%; /* Occupy full width on mobile */
    max-height: 50%; /* Limit gallery height on mobile */
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f0f8ff;
    border-bottom: 2px solid #ccc; /* Add bottom border */
    background-image: url('../bg.jpg'); /* Background image for gallery */
}

.gallery img {
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
    box-shadow: 0 0 5px #000000;
}

.invitation {
    width: 100%; /* Occupy full width on mobile */
    height: auto; /* Adjust height based on content */
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    padding: 20px;
    box-sizing: border-box;
    background-color: #fefbd8; /* Soft yellow background */
    border-radius: 10px; /* Add border radius */
    border: 2px solid #ccc; /* Add border */
    font-size: 20px; /* Increase font size */
    background-image: url('../bg.jpg'); /* Background image for invitation */
    background-size: cover; /* Cover the entire container */
}

.invitation h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.invitation p {
    margin: 10px 0;
    font-size: 20px;
}

.balloon {
    width: 50px;
    height: 65px;
    border-radius: 50%;
    position: fixed;
    bottom: -75px;
    animation: float 15s linear infinite;
}

@keyframes float {
    to { transform: translateY(-100vh) translateX(20vw); }
}

.balloon::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 1px;
    height: 50px;
    background: #666;
    transform: translateX(-50%);
}

.balloon:nth-child(odd) { animation-duration: 4s; }
.balloon:nth-child(even) { animation-duration: 6s; }

.audio-container {
    position: relative;
    width: 100%; /* Occupy full width on mobile */
    box-sizing: border-box;
    padding: 20px;
}

/* Mobile styles */
@media only screen and (min-width: 601px) {
    /* Styles for devices larger than 600px (i.e., tablets and desktops) */
    .container {
        flex-direction: row; /* Revert to row layout */
    }

    .gallery {
        width: 25%; /* Occupy 25% of the width */
        max-height: 78%; /* Limit gallery height */
        border-bottom: none; /* Remove bottom border */
    }

    .invitation {
        width: 75%; /* Occupy 75% of the width */
    }
}
