<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advik's First Birthday</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<div class="container">
    <div class="gallery">
        <!-- Gallery images -->
        <img src="{{ url_for('static', filename='img1.jpg') }}" alt="Gallery Image 1" style="display: block;">
        <img src="{{ url_for('static', filename='img2.jpg') }}" alt="Gallery Image 2">
        <img src="{{ url_for('static', filename='img3.jpg') }}" alt="Gallery Image 3">
        <!-- Add more images as needed -->

    </div>
    <div class="invitation">
        <h1>Happy 1st Birthday, Advik!</h1>
        <p>You're warmly invited to join us as we celebrate Advik's first trip around the sun! 🎉</p>
        <p><strong>Date:</strong> Tuesday, 23 April 2024</p>
        <p><strong>Time:</strong> 7:00 PM Onwards</p>
        <p><strong>Venue:</strong> Bishnoi Dharamshala, Krishnapuri Linepar, Moradabad</p>
        <p><strong>With love,</strong></p>
        <p>Dadi & Dada: Suresh Chandra & Mala Rani</p>
        <p>Mummy & Papa: Rahul Kumar & Sangeeta Kumari</p>
        <p> Tai & Tau: Amit Kumar & Pooja Rani</p>
        <p>Tai & Tau: Sumit Kumar & Shatabdi Kundu</p>
        <p>Bua & Fufa:  & Anita Kumari</p>
        <p>Bua & Fufa: Abhinav Kumar & Sunita Kumari</p>
        <p>Sister & Brother: Kavya & Badri</p>
    </div>

    <div>
        <audio controls autoplay loop>
            <source src="{{ url_for('static', filename='song.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>

<!-- Balloons -->
<div class="balloon"></div>
<div class="balloon"></div>
<div class="balloon"></div>
<div class="balloon"></div>
<div class="balloon"></div>
<div class="balloon"></div>
<div class="balloon"></div>
<div class="balloon"></div>
<div class="balloon"></div>
<div class="balloon"></div>
<!-- More balloons as desired -->

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
